{% extends "network/layout.html" %}

{% block body %}
<div id="user-id" data-user-id="{{ user.id }}" style="display: none;"></div>
<!-- Responsible for the new scribble box... -->
<div class="d-flex justify-content-center">
    <div class="m-3 p-5 scrib-box rounded-3 custom-shadow">
        {% if user.is_authenticated %}
        <h2 class="scrib-font">scribble something...</h2>
        <form id="submit_new_scrib" class="new_scrib" action="#" method="post">
            {% csrf_token %}
            <textarea class="form-control" id="new_scribble" rows="3"></textarea>
            <div class="mt-2 d-flex justify-content-between">
                <div class="mt-1">
                    <span id="character-count">Character count: </span><span id="chars">0</span><span>/280</span>
                </div>
                <button id="send" type="submit" value="send" class="btn btn-primary scrib-font">submit</button>
            </div>
        </form>
        {% else %}
        <!-- ...or the log in to scribble box -->
        <div class="d-flex justify-content-center flex-column align-items-center">
            <h2 class="scrib-font">log in to scribble something...</h2>
            <p><a class="nav-link" href="{% url 'login' %}"> Log In here.</a></p>
        </div>
        {% endif %}
    </div>
</div>

<!-- Displaying all the existing posts (on the home screen - index) -->
<div id="display_scrib" class="d-flex flex-column align-items-center justify-content-center">
    {% if posts %}
        <!-- Posts will be displayed here using JS -->
    {% else %}
        <div class="m-3 p-5 scrib-box rounded-3 d-flex flex-column align-items-center">
            <h2 class="scrib-font">no posts! check back soon or create one above</h2>
        </div>
    {% endif %}
</div>
{% if user.is_authenticated %}
<nav aria-label="...">
    <ul class="pagination">
        <li class="page-item disabled" id="prev-page">
            <a class="page-link" href="#" id="prev-link">Previous</a>
        </li>
        <li class="page-item" id="next-page">
            <a class="page-link" href="#" id="next-link">Next</a>
        </li>
    </ul>
</nav>
{% else %}
        <div class="d-flex justify-content-center flex-column align-items-center">
            <h2 class="mt-2 scrib-font">log in to see more scribbles...</h2>
            <p><a class="nav-link" href="{% url 'login' %}"> Log In here.</a></p>
        </div>
{% endif %}

{% endblock %}
