{% extends "network/layout.html" %}
{% block head %}
<title>the scribbles of {{owner_name}}</title>
{% endblock%}

{% block body %}
<div id="user-id" data-user-id="{{ user.id }}" style="display: none;"></div>
<div class="flex-container">
    <div class="margin-for-flex">
        <h1 class="scrib-font">{{ owner_name }}</h1>
    </div>
    <div class="margin-for-flex">
        {% if user.is_authenticated %}
        <form method="post" action="#">
            {% csrf_token %} 
            <button id="{{ owner_id }}" type="submit" value="follow" class="btn scrib-font follow-btn {% if follow_exists %}btn-outline-primary{% else %}btn-primary{% endif %}">
                {% if follow_exists %}unfollow{% else %}follow{% endif %}
            </button>
        </form>
        {% endif %}
    </div>
</div>
<div class="ms-5 flex-container">
    <span id="followers" class="me-5"><strong>followers: {{ followers }} </strong></span><span id="following" class="me-5"><strong>following: {{ following }} </strong></span>
</div>

<!-- Displaying all the existing posts (on the home screen - index) -->
<div id="display_scrib" class="d-flex flex-column align-items-center justify-content-center">
    {% if user_posts %}
        <!-- Posts will be displayed here -->
    {% else %}
        <div class="m-3 p-5 scrib-box rounded-3 d-flex flex-column align-items-center">
            <h2 class="scrib-font">no posts! check back soon or create one above</h2>
        </div>
    {% endif %}
</div>

<!-- Pagination -->
{% if user.is_authenticated %}
<nav aria-label="...">
    <ul class="pagination">
        <li class="page-item disabled" id="prev-page">
            <a class="page-link" href="#" id="prev-link">Previous</a>
        </li>
        <li class="page-item" id="next-page">
            <a class="page-link" href="#" id="next-link">Next</a>
        </li>
    </ul>
</nav>
{% endif %}
{% endblock %}
